<h1><%=@shoe.name%></h1>
<p><%=@shoe.date%></p>
<p><%=@shoe.brand%></p>
<p><%=@shoe.release%></p>
<p><%=@shoe.hyperating%></p>

<button <a href="/shoes/<%=@shoe.id%>/edit">Edit Kicks:</a></button>
<% if @shoe.user == current_user%> 
<form method="POST" action="/shoes/<%=@shoe.id%>">
<input type="hidden" name="_method" value="delete">


<button type="submit"> Delete Shoe</button>
<% end %>